<?xml version="1.0"?>
<launch>
    <!-- Experiment mode -->
    <arg name="mode" value="1"/>
    <!-- Record bag -->
    <arg name="record_bag" default="true"/>
    <arg name="bag_name" default="experimental_test"/>
    <!-- Trajectory csv file -->
    <arg name="dir_trajectories" default="$(find quad_ctrl_mavros)/trajectories/"/>
    <arg name="trajectory_name_1" default="steps/z_steps/z_step_1"/>
    <arg name="trajectory_name_2" default="steps/z_steps/z_step_2"/>
    <arg name="trajectory_file_1" default="$(arg dir_trajectories)$(arg trajectory_name_1).csv"/>
    <arg name="trajectory_file_2" default="$(arg dir_trajectories)$(arg trajectory_name_2).csv"/>
    <!-- Namespaces -->
    <arg name="ns_1" default="uav0"/>
    <arg name="ns_2" default="uav1"/>
    <!-- UAVs -->
    <group ns="uav">
        <!-- UAV0 -->
        <!-- MAVROS -->
        <arg name="ID_1" value="2"/>
        <arg name="fcu_url_1" default="udp://:15002@"/>
        <group ns="$(arg ns_1)">
            <include file="$(find mavros)/launch/px4.launch">
                <arg name="fcu_url" value="$(arg fcu_url_1)"/>
                <arg name="gcs_url" value=""/>
                <arg name="tgt_system" value="$(eval 0 + arg('ID_1'))"/>
                <arg name="tgt_component" value="1"/>
            </include>
        </group>
        <!-- Configuration YAML file -->
        <rosparam command="load" file="$(find quad_ctrl_mavros)/config/params_intel_1.yaml"/>
        <!-- Tracking Controlller -->
        <node pkg="quad_ctrl_mavros" name="quad_ctrl_1" type="quad_ctrl_mavros_node" 
                    args="$(arg trajectory_file_1) $(arg mode) $(arg ns_1) $(arg ns_2)" output="screen"/>
        <!-- UAV1 -->
        <!-- MAVROS -->
        <arg name="ID_2" value="3"/>
        <arg name="fcu_url_2" default="udp://:15003@"/>
        <group ns="$(arg ns_2)">
            <include file="$(find mavros)/launch/px4.launch">
                <arg name="fcu_url" value="$(arg fcu_url_2)"/>
                <arg name="gcs_url" value=""/>
                <arg name="tgt_system" value="$(eval 0 + arg('ID_2'))"/>
                <arg name="tgt_component" value="1"/>
            </include>
        </group>
        <!-- Configuration YAML file -->
        <rosparam command="load" file="$(find quad_ctrl_mavros)/config/params_intel_2.yaml"/>
        <!-- Tracking Controller -->
        <node pkg="quad_ctrl_mavros" name="quad_ctrl_2" type="quad_ctrl_mavros_node" 
                    args="$(arg trajectory_file_2) $(arg mode) $(arg ns_2) $(arg ns_1)" output="screen"/>
    </group>
    <!-- ROSBAG -->
    <!-- Ensure that the folder where the bags are stored exists -->
    <node pkg="rosbag" type="record" name="rosbag_record" 
            args="record -a -O $(find quad_ctrl_mavros)/bags/$(arg bag_name).bag" if="$(arg record_bag)"/>
</launch>